{% extends 'rango/base.html' %}
{% load bootstrap_toolkit %}
{% block body_block %}
    {% if category %}
        <form role="form" method="post" , id="page_form" , action="{% url 'add_page' category.slug %}">
            <h2 class="form-signin-heading"> Add a page to <a href="/rango/category/{{ category.slug }}">
                {{ category.name }}
            </a></h2>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <button class="btn btn-primary" type="submit" name="submit">
                Add Page
            </button>
        </form>
    {% else %}
        <strong>no such category!</strong>
    {% endif %}
{% endblock %}